
.container{
    position: relative;
    width: 100%;
    padding: 5% 0 7%;
}

.leftCorner{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 320px;
}

.text{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.text p{
    text-align: center;
    margin: 0 auto;
    font-family: 'Overpass', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

.text p:last-of-type{
    width: 80%;
}

/* responsive design */
@media(max-width: 767px){
    .text{
        margin-bottom: 10%;
    }
    .leftCorner.desktop{
        display: none;
    }
    .leftCorner.mobile{
        display: block;
        z-index: -1;
        /* bottom: -15%; */
        left: 35%;
    }
}

@media (max-width: 500px){
    .text{
        margin-bottom: 18%;
    }
    .leftCorner.mobile{
        left: 30%;
    }
}