.desktop{
    width: 100%;
    background-image: linear-gradient(90deg, rgba(192,165,203,1) 0%, rgba(129,185,203,1) 20%, rgba(135,165,189,1) 40%, rgba(136,183,178,1) 60%, rgba(184,162,203,1) 80%, rgba(152,175,217,1) 100%);
    padding: 2px 0
}

.desktopContent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
    margin: 0 auto;
    background: #fff;
}

.desktopContent p{
    background-image: linear-gradient(90deg, rgba(192,165,203,1) 0%, rgba(129,185,203,1) 20%, rgba(135,165,189,1) 40%, rgba(136,183,178,1) 60%, rgba(184,162,203,1) 80%, rgba(152,175,217,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 35%;
  padding: 1px 0;
}

.desktopContent img{
    margin: 0 2%;
}

@media(max-width: 600px){
    .desktopContent{
        flex-direction: column
    }
    .desktopContent p{
        width: 50%;
        margin-bottom: 5%;
    }
}

@media(max-width: 500px){
    .desktopContent{
        flex-direction: column
    }
    .desktopContent p{
        width: 60%;
        margin: 5% 0;
    }
}