footer{
    background: url('../images//radicalBackground.png');
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 2% 5%;
    text-align: center;
    display: flex !important;
    justify-content: center;
}

footer p{
    margin:0 10px;
}


footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* .stayUpdated{
    border-bottom: 1px solid white;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.stayUpdated p:first-of-type{
    color: #D3DAEC
}

.arrow::after{
    content:'>';
    font-size: 20px;
}

.subscribe{
    text-transform: none;
} */

@media(max-width: 767px){
    footer{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 500px){
    footer{
        grid-template-columns: 1fr;
        padding-left: 8%;
    }
}