.fourColumnsContainer{
    padding: 5% 0;
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.fourColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0 2.5%
}

.fourColumn img:nth-of-type(2){
    max-width:35px;
    margin: 20px 0 10px;
}

.fourColumn p,
.fourColumn h6{
    font-family: 'Overpass', sans-serif;
}

.fourColumn h6{
    font-size: 20px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.fourColumn p{
    font-size: 16px;
    text-align: center;
}

@media(max-width: 767px){
    .fourColumnsContainer{
        position: relative;
        z-index: 1;
        flex-wrap: wrap;
    }
    .fourColumn{
        width: 40%;
        margin: 2%;
    }
}

@media(max-width: 520px){
    .fourColumn h6{
        font-size: 18px;
        margin-bottom: 8px;;
        text-align: center;
    }
    .fourColumn p{
        font-size: 14px;;
    }
}
