
p{
    margin: 0;
    padding: 0;
}
header{
    font-family:'Overpass', sans-serif;
}

.stickyHeader{
    /* position: fixed; */
}

.leadFlow{
    text-align: center;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url('../images/bannerBackground.png');
    padding-top: 5px;
}

.logoBanner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0
}

.logoBanner a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
}

.logoBanner a::after{
    content: '\2192'
}

.twoColumnContainer{
    display: flex;
    width: 95%;
    margin-left: 5%;
    align-items: center;
}

.twoColumn{
    width: 50%;
}

.left{
    margin-right: 40px;

}

.left h1{
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
}

.left p{
    font-size: 24px;
}

.bold{
    font-weight: bold;
}

.priceRow{
    display: flex;
    font-family: 'DM Serif Display', serif;
    align-items: flex-end;
}

.priceRow span:nth-child(2){
    margin: 0 4% -1%;
}

.originalPrice{
    color: #ff0000;
    text-decoration: line-through;
    font-size: 35px;
}

.newPrice{
    font-size: 45px;
}

.shipping{
    font-size: 23px;
}

.left button{
    margin-top: 5%;
    text-transform: uppercase;
}

.right img{
    width: 100%;
}