.desktop{
    background-image: linear-gradient(90deg, rgba(192,165,203,1) 0%, rgba(129,185,203,1) 20%, rgba(135,165,189,1) 40%, rgba(136,183,178,1) 60%, rgba(184,162,203,1) 80%, rgba(152,175,217,1) 100%);
    padding: 0 0 2px
}

.mediaContainer{
    padding: 5% 0;
    text-align: center;
    background: #FFF
}

.mediaContainer p{
    background-image: linear-gradient(90deg, rgba(192,165,203,1) 0%, rgba(129,185,203,1) 20%, rgba(135,165,189,1) 40%, rgba(136,183,178,1) 60%, rgba(184,162,203,1) 80%, rgba(152,175,217,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 3%;
  text-transform: uppercase;
}

.firstLine, .secondLine, .thridLine{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;;
}


.desktopContainer img{
    margin: 3% 3%;
    max-width: 60%;
}

.secondLine{
    justify-content: center;
}

.mobileContainer{
    display: none;
}

@media(max-width: 600px){
    .desktopContainer{
        display: none;
    }
    .mobileContainer{
        display: block;
        margin-bottom: 5%;
    }
    .mobileContainer .slick-dots li.slick-active button::before{
        color: #81B9CB
    }
}