.tableContainer{
    /* background: linear-gradient(40deg, rgba(129,185,203,1) 0%, rgba(135,165,189,1) 35%, rgba(136,183,178,1) 50%, rgba(184,162,203,1) 85%, rgba(152,175,217,1) 100%); */
    background-image: url('../images/radicalBackground.png');
    position: relative;
    padding-bottom: 5%;
    background-size: cover;
}

.lines{
    position: absolute;
    z-index: 1;
}

.leftLines, .rightLines{
    top: 38%;
}

.rightLines{
    right: 0
}

.category{
    margin: 0 auto;
    padding-bottom: 1%;
    margin-bottom: 1%;
    text-align: center;
    position:relative;
    z-index: 2;
}

.category label{
    color: white;
    background: transparent;
    font-weight: bold;
    /* font-size: 24px; */
    font-family: 'Overpass', sans-serif;
    padding: 0;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.category label::after{
    content: '\002B';
    font-size: 30px;
}

.name{
    margin-right: 33%
}

.vl{
    border-bottom: 1px solid white;
    width: 50%;
    margin: 0 auto 2%;
}

input[type='checkbox']{
    position: absolute;
    display: none;
}


.category input ~ table{
    display: none;
}

.category input:checked ~ label::after{
    content: '\2212';
    font-size: 30px;
}

.category input:checked ~ table,
.glass input:checked ~ table{
    display: block;
}


 table.tableOfIngrediant {
  border: 1px solid #C0A5CB;
  background-color: #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
 table.tableOfIngrediant td,  table.tableOfIngrediant th{
  padding: 20px 10px;
}
 table.tableOfIngrediant tbody td {
  font-size: 18px;
  color: #C0A5CB;
  border: 2px solid #C0A5CB;
  background: #fff;
}
 table.tableOfIngrediant thead {
  background: #C0A5CB;
}
 table.tableOfIngrediant thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
  font-family: 'Overpass', sans-serif;
}
 table.tableOfIngrediant thead th:first-child {
  border-left: none;
}

 table.tableOfIngrediant td:first-child{
    width: 50%;
}

@media(max-width: 767px){
    table.tableOfIngrediant{
        width: 80%;
        margin-top: 5%;
    }
}

@media(max-width: 580px){
    .tableContainer{
        padding-bottom: 20%;
    }
    .leftLines{
        display: none;
    }
    .rightLines{
        top:95%;
        right: 25%;
        transform: rotate(90deg);
        width: 250px;
        z-index: 1;
    }
}

@media(max-width: 400px){
    .rightLines{
        right: 15%;
    }
    .tableContainer{
        padding-bottom: 30%;
        background-repeat: no-repeat;
    }
    .tableContainer h3{
        padding-bottom: 5%;
    }
    table.tableOfIngrediant tbody td{
        font-size: 13px;
    }
    table.tableOfIngrediant thead th{
        font-size: 16px;
    }
}


