.twoColumnContainer{
    padding: 5% 0 6%;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

.twoColumnContainer h5{
    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 1% auto 2%;
}

.text{
    width: 40%;
    position: relative;
}

.image{
    width: 50%
}

.mobileUnboxing{
    display: none;
}

.text p{
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    /* width: 75%; */
}

.spacer{
    height: 20px
}


.right.text{
    margin-left: 5%
}

.text img{
    position: absolute;
}

.flowerWCicle{
    right: 0;
}

.fancyFlower{
    left: 0;
    top: 110%;
    max-width: 150px;
}

.twoColumnContainer button{
    margin-top: 4%;
    font-size: 27px;
    text-transform: uppercase;
}

.twoColumnContainer button img{
    max-width: 90%
}

@media(max-width: 680px){
    .row{
        flex-direction: column;
    }
    .left, .right{
        width: 90%;
    }
    .image{
        order: -1;
    }
    .text{
        text-align: left;
        margin: 5% 0;
    }
    .mobileUnboxing{
        display: block;
        width: 100%;
    }
    .desktopUnboxing{
        display: none;
    }
    .flowerWCicle{
        display: none;
    }
    .fancyFlower{
        transform: rotate(180deg);
        left: 90%;
        top: -100%;
    }
    .twoColumnContainer button{
        font-size: 18px;
        margin-bottom: 5%;
    }
}

@media (max-width: 500px){
    .right{
        width: 100%
    }
    .productImg{
        margin-left: -18%;
    }
    .twoColumnContainer h5{
        font-size: 22px;
    }
    .text p{
        font-size: 14px;
    }
    .twoColumnContainer button{
        width: 80%
    }
}